In [15]:
pip install -U scikit-learn

Collecting scikit-learnNote: you may need to restart the kernel to use updated packages.
  Using cached scikit_learn-0.24.1-cp38-cp38-win_amd64.whl (6.9 MB)
Requirement already satisfied: numpy>=1.13.3 in c:\users\mwen\appdata\local\programs\python\python38\lib\site-packages (from scikit-learn) (1.18.5)
Collecting joblib>=0.11

  Using cached joblib-1.0.1-py3-none-any.whl (303 kB)
Collecting threadpoolctl>=2.0.0
  Using cached threadpoolctl-2.1.0-py3-none-any.whl (12 kB)
Collecting scipy>=0.19.1
  Using cached scipy-1.6.2-cp38-cp38-win_amd64.whl (32.7 MB)
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn
Successfully installed joblib-1.0.1 scikit-learn-0.24.1 scipy-1.6.2 threadpoolctl-2.1.0

In [20]:
import pandas as pd 
import numpy as np
from sklearn.cluster import KMeans

In [17]:
df = pd.read_csv("fin_vul.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 203928 entries, 0 to 203927
Data columns (total 40 columns):
 #   Column                                         Non-Null Count   Dtype
---  ------                                         --------------   -----
 0   Excellent                                      203928 non-null  int64
 1   Fair                                           203928 non-null  int64
 2   Good                                           203928 non-null  int64
 3   Poor                                           203928 non-null  int64
 4   Employee: Full-time                            203928 non-null  int64
 5   Employee: Part-time                            203928 non-null  int64
 6   Full-time student                              203928 non-null  int64
 7   Homemaker                                      203928 non-null  int64
 8   Other                                          203928 non-null  int64
 9   Retired                                        203928 non-null  int64
 10  Self-employed                                  203928 non-null  int64
 11  Unemployed                                     203928 non-null  int64
 12  Divorced / dissolved civil partnership         203928 non-null  int64
 13  Married / civil partnership                    203928 non-null  int64
 14  Separated                                      203928 non-null  int64
 15  Single                                         203928 non-null  int64
 16  Widowed / surviving civil partner              203928 non-null  int64
 17  18-20                                          203928 non-null  int64
 18  21-25                                          203928 non-null  int64
 19  26-30                                          203928 non-null  int64
 20  31-35                                          203928 non-null  int64
 21  36-40                                          203928 non-null  int64
 22  41-45                                          203928 non-null  int64
 23  46-50                                          203928 non-null  int64
 24  51-55                                          203928 non-null  int64
 25  55+                                            203928 non-null  int64
 26  Level 1                                        203928 non-null  int64
 27  Level 2                                        203928 non-null  int64
 28  Level 3                                        203928 non-null  int64
 29  Level 4 or above                               203928 non-null  int64
 30  No qualifications                              203928 non-null  int64
 31  Other qualifications                           203928 non-null  int64
 32  Living rent free                               203928 non-null  int64
 33  Other.1                                        203928 non-null  int64
 34  Owned outright                                 203928 non-null  int64
 35  Owned with a mortgage or loan                  203928 non-null  int64
 36  Private rented                                 203928 non-null  int64
 37  Rented from council (Local Authority)          203928 non-null  int64
 38  Shared ownership (part owned and part rented)  203928 non-null  int64
 39  Social rented                                  203928 non-null  int64
dtypes: int64(40)
memory usage: 62.2 MB

In [45]:
kmeans = KMeans(n_clusters = 6, init = 'k-means++', random_state = 40)
y_kmeans = kmeans.fit_predict(df)

In [46]:
# when k = 6

cluster_1 = df[y_kmeans == 0]
# working women with fair credit

cluster_2 = df[y_kmeans == 1]
# retired 55+ married women with good credit

cluster_3 = df[y_kmeans == 2]
# working and self-employed women with excellent credit 

cluster_4 = df[y_kmeans == 3]
# working women with few qualifications and good credit

cluster_5 = df[y_kmeans == 4]
# single 30+ working women with excellent credit

cluster_6 = df[y_kmeans == 5]
# single retired women with excellent credit

# cluster_1[['Self-employed', 'Unemployed',
#        'Divorced / dissolved civil partnership', 'Married / civil partnership',
#        'Separated', 'Single', 'Widowed / surviving civil partner', '18-20',
#        '21-25', '26-30', '31-35', '36-40', '41-45', '46-50', '51-55', '55+',
#        'Level 1', 'Level 2', 'Level 3', 'Level 4 or above']].head(20)

In [50]:
pd.set_option('display.max_columns', None)
print(cluster_6.head(10))

    Excellent  Fair  Good  Poor  Employee: Full-time  Employee: Part-time  \
3           1     0     0     0                    0                    0
11          1     0     0     0                    0                    0
25          1     0     0     0                    0                    0
30          1     0     0     0                    0                    0
40          1     0     0     0                    0                    0
41          1     0     0     0                    0                    0
45          1     0     0     0                    0                    0
46          1     0     0     0                    0                    0
49          1     0     0     0                    0                    0
57          1     0     0     0                    0                    0

    Full-time student  Homemaker  Other  Retired  Self-employed  Unemployed  \
3                   0          0      0        1              0           0
11                  0          0      0        1              0           0
25                  0          0      0        1              0           0
30                  0          0      0        1              0           0
40                  0          0      0        1              0           0
41                  0          0      0        1              0           0
45                  0          0      0        1              0           0
46                  0          0      0        1              0           0
49                  0          0      0        1              0           0
57                  0          0      0        1              0           0

    Divorced / dissolved civil partnership  Married / civil partnership  \
3                                        0                            0
11                                       0                            0
25                                       0                            1
30                                       0                            0
40                                       0                            1
41                                       0                            0
45                                       0                            0
46                                       0                            0
49                                       0                            1
57                                       0                            1

    Separated  Single  Widowed / surviving civil partner  18-20  21-25  26-30  \
3           0       1                                  0      0      0      0
11          0       1                                  0      0      0      0
25          0       0                                  0      0      0      0
30          0       1                                  0      0      0      0
40          0       0                                  0      0      0      0
41          0       1                                  0      0      0      0
45          0       1                                  0      0      0      0
46          0       1                                  0      0      0      0
49          0       0                                  0      0      0      0
57          0       0                                  0      0      0      0

    31-35  36-40  41-45  46-50  51-55  55+  Level 1  Level 2  Level 3  \
3       0      0      0      0      0    1        0        0        0
11      0      0      0      0      0    1        0        0        0
25      0      0      0      0      0    1        0        0        1
30      0      0      0      0      0    1        0        0        0
40      0      0      0      0      0    1        1        0        0
41      0      0      0      0      0    1        0        0        0
45      0      0      0      0      0    1        0        0        0
46      0      0      0      0      0    1        0        0        0
49      0      0      0      0      0    1        0        1        0
57      0      0      0      0      0    1        0        0        0

    Level 4 or above  No qualifications  Other qualifications  \
3                  0                  1                     0
11                 0                  1                     0
25                 0                  0                     0
30                 1                  0                     0
40                 0                  0                     0
41                 0                  0                     1
45                 0                  1                     0
46                 0                  0                     1
49                 0                  0                     0
57                 0                  1                     0

    Living rent free  Other.1  Owned outright  Owned with a mortgage or loan  \
3                  0        0               1                              0
11                 0        0               0                              0
25                 0        0               0                              1
30                 0        0               0                              0
40                 0        0               0                              1
41                 0        0               0                              1
45                 0        0               0                              0
46                 0        0               0                              0
49                 0        0               1                              0
57                 0        0               1                              0

    Private rented  Rented from council (Local Authority)  \
3                0                                      0
11               0                                      0
25               0                                      0
30               1                                      0
40               0                                      0
41               0                                      0
45               0                                      1
46               0                                      1
49               0                                      0
57               0                                      0

    Shared ownership (part owned and part rented)  Social rented
3                                               0              0
11                                              0              1
25                                              0              0
30                                              0              0
40                                              0              0
41                                              0              0
45                                              0              0
46                                              0              0
49                                              0              0
57                                              0              0

In [51]:
# adding a new column representing financial risk 'y', set to 1 for cluster 1 and set to 0 for all other clusters

# Adding column y set to 1
cluster_6['financial-risk'] = 1

# Adding column y set to 0
clusters = [cluster_1, cluster_2, cluster_3, cluster_4, cluster_5]
for dataframe in clusters:
    dataframe['financial-risk'] = 0
    
# concatenating all the dfs
all_clusters = [cluster_1, cluster_2, cluster_3, cluster_4, cluster_5, cluster_6]
df_merge = pd.concat(all_clusters, join='outer', axis=0)

df_merge = df_merge.sort_index()
df_merge.info()

<ipython-input-51-7af8d61bf777>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cluster_6['financial-risk'] = 1
<ipython-input-51-7af8d61bf777>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe['financial-risk'] = 0

<class 'pandas.core.frame.DataFrame'>
Int64Index: 203928 entries, 0 to 203927
Data columns (total 41 columns):
 #   Column                                         Non-Null Count   Dtype
---  ------                                         --------------   -----
 0   Excellent                                      203928 non-null  int64
 1   Fair                                           203928 non-null  int64
 2   Good                                           203928 non-null  int64
 3   Poor                                           203928 non-null  int64
 4   Employee: Full-time                            203928 non-null  int64
 5   Employee: Part-time                            203928 non-null  int64
 6   Full-time student                              203928 non-null  int64
 7   Homemaker                                      203928 non-null  int64
 8   Other                                          203928 non-null  int64
 9   Retired                                        203928 non-null  int64
 10  Self-employed                                  203928 non-null  int64
 11  Unemployed                                     203928 non-null  int64
 12  Divorced / dissolved civil partnership         203928 non-null  int64
 13  Married / civil partnership                    203928 non-null  int64
 14  Separated                                      203928 non-null  int64
 15  Single                                         203928 non-null  int64
 16  Widowed / surviving civil partner              203928 non-null  int64
 17  18-20                                          203928 non-null  int64
 18  21-25                                          203928 non-null  int64
 19  26-30                                          203928 non-null  int64
 20  31-35                                          203928 non-null  int64
 21  36-40                                          203928 non-null  int64
 22  41-45                                          203928 non-null  int64
 23  46-50                                          203928 non-null  int64
 24  51-55                                          203928 non-null  int64
 25  55+                                            203928 non-null  int64
 26  Level 1                                        203928 non-null  int64
 27  Level 2                                        203928 non-null  int64
 28  Level 3                                        203928 non-null  int64
 29  Level 4 or above                               203928 non-null  int64
 30  No qualifications                              203928 non-null  int64
 31  Other qualifications                           203928 non-null  int64
 32  Living rent free                               203928 non-null  int64
 33  Other.1                                        203928 non-null  int64
 34  Owned outright                                 203928 non-null  int64
 35  Owned with a mortgage or loan                  203928 non-null  int64
 36  Private rented                                 203928 non-null  int64
 37  Rented from council (Local Authority)          203928 non-null  int64
 38  Shared ownership (part owned and part rented)  203928 non-null  int64
 39  Social rented                                  203928 non-null  int64
 40  financial-risk                                 203928 non-null  int64
dtypes: int64(41)
memory usage: 65.3 MB

## Training the kNN model

In [52]:
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import f1_score
from sklearn.metrics import confusion_matrix

In [54]:
X = df_merge.iloc[:, 0:40]  # selecting all rows and all columns except the last column
y = df_merge.iloc[:, 40]  # selecting all rows and the last column

In [55]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, test_size=0.2)

In [56]:
# finding the optimum number of neighbors --> 201 neighbors

import math
math.sqrt(len(y_test))

201.95544062985775

In [57]:
classifier = KNeighborsClassifier(n_neighbors = 201, p=2, metric='euclidean') # p=2, two outcomes-> financial abuse or not

In [58]:
classifier.fit(X_train, y_train)

KNeighborsClassifier(metric='euclidean', n_neighbors=201)

In [60]:
y_prediction = classifier.predict(X_test)
print(y_prediction)

[0 0 0 ... 0 0 1]

In [61]:
# model evaluation
con_matrix = confusion_matrix(y_test, y_prediction)
print(f1_score(y_test, y_prediction))

0.98559670781893

In [62]:
# confusion matrix represented as a heatmap
plt.rcParams['figure.figsize'] = (15.0, 10.0)
sns.heatmap(con_matrix, annot=True, fmt='d')

NameError: name 'plt' is not defined